<div class="container">
	<div class="about">
		<div class="contents">
			<h1>u-Techとは</h1>	
			<div class="content about-doing">
				<h2>u-Techの活動</h2>
				<p>u-Techは，数学，情報を主な題材として活動する東大中心のインカレサークルです．自主的に理数系の活動がしたいという人が集まり，ゼミやハッカソンなどのイベントを開いています．誰でも自分のやりたいイベントを開くことができます．</p>
			</div>

			<div class="content about-name">
				<h2>u-Techの由来</h2>
				<p>英語の「You」を意味するスラングの「u」とTechnologyの略語「Tech」をかけ合わせて「u-Tech」というサークル名となりました．</p>
			</div>

			<div class="content about-member">
				<h2>u-Techのメンバー</h2>
				<p>物理や情報などに応用するために純粋数学を学んでいる人や，プログラミング，機械学習やWebなどを自主的に学んでいる人などが主に集まっています．半分以上の人が大学から本格的に学習を始めた人たちなので，これから始めたい方も大歓迎です．発足からまだ半年しかたっていないため，メンバーは10人ほどしかいませんが．活発に活動しています．</p>
			</div>
		</div>
	</div>
</div>