<div class="contents">
	<h1>イベント</h1>	
	<div class="content event-soon">
		<h2>募集中のイベント</h2>
	</div>

	<div class="content event-now">
		<h2>開催中のイベント</h2>
	</div>

	<div class="content event-done">
		<h2>終了したのイベント</h2>
	</div>

</div>
