<div class="container">
	<div class="home">
		<div class="visual">
			<img src="/assets/home/logo_counter.png" alt="u-Tech">
			<p>東京大学を中心とした，理数情報系ゼミサークル</p>
		</div>

		<div class="contents">
			<h1>トップ</h1>
			<div class="topics">
				<h2>トピックス</h2>
				<ul>
					<li>新入生募集中！　新歓情報はこちら</li>
					<li>ハッカソン開催します！</li>
					<li>春学期ゼミメンバー募集！</li>
				</ul>
			</div>
		</div>

	</div>
</div>