<div class="container">
	<div class="home">
		<div class="visual">
			<img src="/assets/home/logo_counter.png" alt="u-Tech">
			<p>東京大学を中心とした，理数情報系ゼミサークル</p>
		</div>

		<div class="contents">
			<h1>トップ</h1>
			<div class="content home-topics">
				<h2>トピックス</h2>
				<ul>
					<li>新入生募集中！　新歓情報は<%= link_to "こちら", welcome_path %></li>
					<li>春学期ゼミ メンバー募集！</li>
				</ul>
			</div>

			<div class="content home-new-seminars">
				<h2>春学期ゼミ メンバー募集！</h2>
				<p></p>
		</div>

	</div>
</div>