<div class="welcome">
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<h1>新歓情報</h1>	
			<div class="content welcome-biginners">
				<h2>プログラミング初心者歓迎！</h2>
				<p>プログラミング初心者でも，初心者用のゼミを開くので問題ありません！他大生ももちろん歓迎しています！気軽に参加してください！</p>
			</div>

			<div class="content welcome-schedule">
				<h2>説明会日程</h2>
				<p>直近の説明会の予定はありません．</p>
                <p>U-Techへの途中参加も歓迎しています．</p>
			</div>

			<div class="content welcome-map">
				<h2>駒場キャンパスマップ</h2>
				<p><img src="<%= asset_path 'static_pages/map.png'%>" alt="キャンパスマップ"></p>
			</div>
		</div>
	</div>
	</div>
</div>