<div class="welcome">
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<h1>新歓情報</h1>	
			<div class="content welcome-biginners">
				<h2>プログラミング初心者歓迎！</h2>
				<p>プログラミング初心者でも，初心者用のゼミを開くので問題ありません！他大生ももちろん歓迎しています！気軽に参加してください！</p>
			</div>

			<div class="content welcome-schedule">
				<h2>説明会日程</h2>

				<dl>
					<dt><time datetime="2017-4-8">4/8(土)</time></dt><dd class="time">13:30~16:00</dd><dd class="place">キャンパスプラザA棟2階 第3会議室</dd>
					<dt><time datetime="2017-4-9">4/9(日)</time></dt><dd class="time">13:30~16:00</dd><dd class="place">学生会館2階 215</dd>
					<dt><time datetime="2017-4-15">4/15(土)</time></dt><dd class="time">17:30~21:00</dd><dd class="place">キャンパスプラザA棟2階 第3会議室</dd>
					<dt><time datetime="2017-4-16">4/16(日)</time></dt><dd class="time">16:30~19:00</dd><dd class="place">生会館2階 215</dd>
					<dt><time datetime="2017-4-22">4/22(土)</time></dt><dd class="time">17:30~21:00</dd><dd class="place">新学生会館2階 第一集会室</dd>
					<dt><time datetime="2017-4-23">4/23(日)</time></dt><dd class="time">13:30~16:00</dd><dd class="place">キャンパスプラザA棟2階 第3会議室</dd>
				</dl>
				<p>途中参加も歓迎しています</p>
			</div>

			<div class="content welcome-map">
				<h2>駒場キャンパスマップ</h2>
				<p><img src="<%= asset_path 'static_pages/map.png'%>" alt="キャンパスマップ"></p>
			</div>
		</div>
	</div>
	</div>
</div>
