<div class="container">
	<div class="event">
		<div class="contents">
			<h1>イベント</h1>	
			<div class="content event-soon">
				<h2>募集中のイベント</h2>
				<div class="events">
				</div>
			</div>

			<div class="content event-now">
				<h2>開催中のイベント</h2>
				<div class="events">
					<% @sessions.each do |event| %>
						<%= render partial: "partials/event", locals: { event: event } %>
					<% end %>
				</div>
			</div>

			<div class="content event-done">
				<h2>終了したのイベント</h2>
			</div>

		</div>
	</div>
</div>