html, body {
	margin: 0;
	padding: 0;
}

html {
 	font-family: sans-serif;
}

body {
	font-size: 1.5rem;
}

.content {
	margin-bottom: 6vh;

	h2 {
		margin-bottom: 3vh;
	}
}

h1 {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 1vw 0;
	padding-left: 2vw;
	margin-bottom: 5vh;
}

h2 {
	border-left: 20px solid $clr-orange-900;
	background-color: $clr-blue-grey-900;
	color: white;
	padding: 10px;
}

p {
	margin-left: 3vw;
}

ul {
	margin-left: 3vw;
}

li {
}

dl {
	margin-left: 3vw;
}

header {
	margin: 3vh 0;
}

nav {
	margin: auto;
	width: 80%;
	overflow: hidden;

	img{
		height: 50px;
	}

	ul {
	    margin: 0;
	    padding: 12.5px 0;
	    float: right;

	    li {
			text-align: center;
		    list-style: none;
		    height: 25px;
		    width: 130px;
		    float: left;

		    a {
				font-size: 1.8rem;
				margin: 10px;
			    color: #333;
			    text-decoration: none;
			}

			a:hover {
			    color: #F90;
			}
		}
	}
}

.container {
	clear: both;
}

footer {
	clear: both;
	text-align: center;
	color: #666;
}